@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
}

.container {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 5;
}

.title {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 1.8em;
  border-radius: 5px;
}

.subTitle {
  position: relative;
  background-color: rgba(255,255,255);
  color: rgb(0, 0, 0 ,1);
  padding: 20px;
  font-size: 1.2em;
  border-radius: 5px;
}

.question {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.questionBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}

.answerBtn {
  position: relative;
  padding: 10px;
  background-color: rgb(250, 151, 37);
  display: inline-block;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.numericAnswerInput {
  position: relative;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}


.score-board {
  margin: auto;
}

.score {
  position: relative;
  font-size: 3em;
  text-align: left;
  margin: auto;
}

.playBtn {
  position: relative;
  font-size: 1.4em;
  padding: 10px;
  background-color: rgb(46, 182, 46);
  color: rgb(255, 255, 255);
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  outline: none;
  cursor: pointer;
}

.tableScore {
    align-content: center;
    font-size: 3em;
    text-align: center;
    margin: auto;
}

.incorrectAnswer { background-color: red; }

.correctAnswer { background-color: white; }

.equation.stacked {
  display: inline-block;
}

.equation.stacked .number {
  display: block;
  margin-left: 1em; /* space for the operator */
  text-align: right;
  font-size: 2em;
}
  
.equation.stacked .operator {
  float: left;
  font-size: 2em;
}
  
.equation.stacked .equals {
  display: block;
  height: 0;
  border-bottom: solid 1px black;
  overflow: hidden;
  font-size: 3em;
}

.Timers {
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  .Timers {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .Stopwatch {
    margin-bottom: 40px;
  }
}

.Stopwatch {
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 20px;
  width: 400px;
  background-color: rgb(22, 27, 31);
  box-shadow: 0 3px 6px rgb(12, 12, 12);
}

.stopwatch-header {
  font-size: 40px;
  font-weight: bold;
}

button:hover {
  background-color: #106ba3;
}

.stopwatch-display {
  padding: 40px 0;
  font-size: 48px;
}

.Stopwatch-text {
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



